body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;

}

.container{
    height: 550px;
    width: 550px;
    background-color: lightgray;
    border-radius: 16px;
}

.options button{
    border-radius: 32px;
    padding: 8px 16px;
    margin: 4px;
}

.scoreboard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.score{
    /* background-color: white; */
    padding: 8px 16px;

}

.info{
    /* background-color: gray; */
    margin: 32px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reset{
    border-radius: 32px;
    padding: 6px 18px;
    color: white;
    background-color: green;
}